@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body:not(#nav) {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 100px;
    background-color: white;
    padding: 40px;
}

    .container h2 {
        color: teal;
    }

input[type="email"], input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    margin: 15px 0px;
    padding: 12px 20px;
}

button {
    margin: 15px 0px;
    padding: 20px;
    font-size: 18px;
    width: 100%;
    background-color: teal;
    color: whitesmoke;
    border: none;
}
